/* =================================
  Base Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin-bottom: 1.5em;
  text-align: center;
}

a:visited {
  color: black;
}
h1, h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-weight: lighter;
}

h3 {
  text-transform: uppercase;
}

img {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

footer{
  background-color: rgba(220,220,220, 0.25);
  margin-top: 0;
}

.clearfix::after {
      content: "";
      display: table;
      clear: both;
}


/* =================================
  Base Layout Styles
==================================== */

.main-header {
  background-color: rgba(220,220,220, 0.25);
  margin-top: 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  /*margin-bottom: 30px*/
}

.name,
.main-nav li,
.about {
  text-align: center;
}

.main-nav li{
  background: #fff;
  margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav {
  list-style-type: none;
  padding-left: 1em;
  padding-right:1em;

}
.main-nav a{
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 15px;
  display: block;
}

.about, .contact {
  background-color: rgba(220,220,220, 0.25);
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
}

.profile-image {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.Portfolio {
  margin-top: 50px;
  margin-left :.8em;
  margin-right: .8em;
  margin-bottom: 30px;
}

.Marketing {
  margin-top: 40px;
}

.main-footer p {
  margin: 0;
  padding: 25px 15px;
  font-size: 0.80em;
  font-weight: 800;

  /*margin-top: 0;
  /*position: relative;*/
  /*background-color: rgba(220,220,220, 0.25);*/*/
}

/*#footer-content {
  background-color: rgba(220,220,220, 0.25);

}*/
.contact {
  margin-top: 20px;
  padding: 50px 15px;
  border-bottom-color: lightgrey;
  border-bottom-width: thin;
  border-bottom-style: solid;

}
.contact a {
  margin-left: 20px;
  color: black;
  font-weight: bold;
}

#top {
  float: right;
  position: absolute;
  right: 8px;
  top: 0;
  font-weight: bolder;
  text-transform: uppercase;
}

#footer-name{
  float: left;
  left: 8px;
  position: absolute;
  font-weight: bolder;

  /*top: 0;
  left:0;*/
  /*margin-top: 0;
  font-weight: bold;*/

  /* =================================
    Media Queries
  ==================================== */

  @media (min-width: 768px){


  }
