/* =================================
  Base Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin-bottom: 1.5em;
  text-align: center;
}

a:visited {
  color: black;
}
h1, h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-weight: lighter;
}

h3 {
  text-transform: uppercase;
}

img {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

footer{
  background-color: rgba(220,220,220, 0.25);
  margin-top: 0;
  position: relative;
  padding-bottom: 10px;
}

.clearfix::after {
      content: "";
      display: table;
      clear: both;
}


/* =================================
  Base Layout Styles
==================================== */

.main-header {
  background-color: rgba(220,220,220, 0.25);
  margin-top: 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  /*margin-bottom: 30px*/
}

.name,
.main-nav a,
.about {
  text-align: center;
}

.main-nav a, .non-mobile-footer li{
  background: #fff;
  margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav, .non-mobile-footer {
  list-style-type: none;
  padding-left: 1em;
  padding-right:1em;

}
.main-nav a, .non-mobile-footer a{
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 15px;
  display: block;
}

.about, .contact {
  background-color: rgba(220,220,220, 0.25);
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
}

.profile-image {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.Portfolio {
  margin-top: 50px;
  margin-left :.8em;
  margin-right: .8em;
  margin-bottom: 30px;
}

.Marketing, .search {
  margin-top: 40px;
}

.main-footer p {
  margin: 0;
  padding: 25px 15px;
  font-size: 0.80em;
  font-weight: 800;
}

.about p {
  margin-top: 0;
}

.contact {
  margin-top: 20px;
  padding: 50px 15px;
  border-bottom-color: lightgrey;
  border-bottom-width: thin;
  border-bottom-style: solid;

}
/*changed color of contact link text*/
.contact a {
  margin-left: 20px;
  color: purple;
  font-weight: bold;
}

/*additional google font added*/
.about p {
  font-family: 'Ubuntu', sans-serif;
}

#top {
  float: right;
  position: absolute;
  right: 8px;
  top: 0;
  font-weight: bolder;
  text-transform: uppercase;
}

#footer-name{
  float: left;
  left: 8px;
  position: absolute;
  font-weight: bolder;
}

.non-mobile-footer {
  display: none;
}

.Skills li {
  text-align: center;
  list-style-type: none;
}

.Skills ul{
  padding-left: 0;
}

  /* =================================
    Media Queries
  ==================================== */

  @media (min-width: 768px){

    .wrap {
      min-height: calc(100vh - 67.33px);
    }

    .main-header, .non-mobile-footer {
      width: 100%;
    }

    .main-nav a, .non-mobile-footer a {
      display: inline-block;
      background-color: rgba(220,220,220,0.01);
      text-align: center;
    }

    .main-nav {
      width: 100%;
      padding-left: 20%;
      padding-right: 20%;
      text-align: center;
    }

    .profile-image {
      float: right;
      margin: 0 0 10px 15px;
      width: 300px;
      height: auto;
    }

    .about {
      clear: left;
      font-size: 1.25em;
    }

    .about p {
      text-align: left;
      padding-left: 10px;
    }

    .col {
      display: inline-block;
      width: 50%;
      margin-right: -4px;
      padding-right: 1em;
      padding-left: 1em;
      vertical-align: top;
      margin-top: 40px;
    }

    .mobile-footer {
      display: none;
    }

    .non-mobile-footer {
      margin: 0 0;
      padding-right: 0;
      display: inline;
      margin-left: 40%;
    }

    .non-mobile-footer a {
      float: right;
    }

    footer p {
      width: 50%;
      display: inline;
    }

    .main-footer {
      margin-bottom: 0;
      width: 100%;
    }

    .main-footer p{
      float: left;
      position: absolute;
      bottom: -1px;
    }

    nav a {
      display: inline-block;
    }

}

@media (min-width: 1024px){
  .Portfolio {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .col {
    width: 33.333%;
    padding-left: 2px;
    padding-right: 2px;
  }

  .name{
    display: inline-block;
    float: left;
    padding-left: 10px;
  }

  .main-header {
    position: relative;
  }

  .main-nav {
    display: inline;
    position: absolute;
    text-align: right;
    margin-top: 20px;
    padding-right: 35px;
    left:0;
    top: 0;
  }

  .main-nav a {
    display: inline-block;
  }

  .main-header h1 {
    font-size: 1.5em;
  }

  .main-header, .about {
    padding-left: 5%;
    padding-right: 5%;
  }

  .about {
    padding-top: 20px;
  }
}
